/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}




body {
	
	background: #5d98b3;
    font-family: 'Arial';
    color: #f2f5fa;
    
}


#container {
    width: 900px;
	margin: auto;
	margin-top: 50px;
    	padding:20px; 
	background: #4b6181;
    
    
        
}

header {
    font-family: 'Arial Black';
	text-align: center;
}

footer {
    
    text-align: center;
}




