/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}



/* Mobile First CSS: we'll design for phone sizes first, then add media queries for larger screens later */

body {
    background: #F28B77;
font-family: 'Karantina'; 

	
	
}

header{ 
padding: 25px;
 background: #31BAA3;  

}
.NavigationBar ul{
    
    list-style-type: none;
    background-color: #31BAA3;
    padding: 0px; 
    margin: 0px;
    overflow: hidden;
    font-size: 1.5em; 
    letter-spacing: 2px;

    
    
}

.NavigationBar a{
    
    color: #90D4CC; 
    text-decoration: none;
    padding: 10px; 
    display: block; 
}

.NavigationBar a:hover{
    
    background-color: #90D4CC;
    color: #31BAA3;
    border-radius: 15px;
    
}

.NavigationBar li{
    float: right; 
}


h1 {
    
font-size: 6em;
font-family: 'Kadwa';
color: #FEDAA5;
}


h2 {
    
    line-height:1.25em; 
    background: #FEDAA5;
    border-radius: 20px;
    padding: 5px;
    margin: 30px;
    font-family: 'Kadwa';
 
    
}

p {
    
 background: #FEDAA5;
    border-radius: 20px;
    padding: 20px;
    margin: 15px;
     letter-spacing:normal;
    font-size: 1.5em;
}

    
    footer{
    
 padding: 15px;
color: #ECECEC;
 background: #31BAA3;   
}

#container {
background: #FEDAA5;
    border-radius: 20px;
    padding: 10px;
    margin: 15px;	
    
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #F28B77;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.signUp{
  border-radius: 5px;
  background-color: #FEDAA5;
  padding: 20px;
width: 60%;
    margin: auto;
font-size: 1.5em;
    letter-spacing: 0.3em;
    color: #F28B77;
   
}








/* ========================================
MEDIA QUERIES!
You can adjust the min-width numbers below, and add as many new media queries as you need.
======================================== */



/* Minimum width for laptops. */
@media all and (min-width: 769px) {
	
    .signUp {
        
        float: right;
        width:40%;
        margin: 20px;
       
    }
    
    .container{
        
        float: left;
        width: 50%;
       
    }
	
	
} /* closes 769px+ */




/* Minimum width for desktop screens. */
@media all and (min-width: 1024px) {
	
	
	
	
} /* closes 1024px+ */



